.form {
  display: flex;
  align-items: center;
  gap: 0;
  height: 30px;
  max-width: 400px;
  background-color: #fff;
}

.label {
  height: 30px;
}

.input {
  width: 250px;
  height: 27px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input::placeholder {
  font: inherit;
  font-size: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  height: 30px;
  width: 70px;
  cursor: pointer;
  font-size: 15px;
  outline: none;
}
